{% extends 'base.html' %}
{% block content %}
<div>
  <div class="container-fluid pt-4 mt-4">
    <div class="row p-0 mt-4">
      <div class="col-lg-4 mx-auto shadow">
        <div class="alert alert-info">
            <h2>Add New TODO</h2>
        </div>
        <div class="p-4">
          <form action="/add-todo/" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <hr>
            <input type="submit" value="ADD" class="btn btn-info">
          </form>        
        </div>      
      </div>  
      <div class="col">
        <div class="border">

          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Priority</th>
                  <th>Action</th>
                  
                </tr>
              </thead>
              <tbody>
                
                  {% for todo in todos %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{todo.title}}</td>
                    <td>{{todo.status}}</td>
                    <td>{{todo.priority}}</td>
                    <td>
                      <a href="/delete-todo/{{todo.id}}"  title="Delete"  class="">🗑️</a>
                      {% if todo.status == 'P' %}
                      <a href="/change-status/{{todo.id}}/C"  title="Mark Completed"  class="">✔️</a>
                      {% else %}
                      <a href="/change-status/{{todo.id}}/P"  title="Mark Completed"  class="">⌛</a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                  
              </tbody>
            </table>
          </div>

          
        </div>
      </div>
    </div>  
  </div>
  
</div>

            
{% endblock %}

